@import url("font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic|Source+Code+Pro:400");

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
  float: left;
}

li a {
    display: inline-block;
    color: white;
    text-decoration: none;
}

/* The top navigation menu */
.topnav {
    height: 50px;  /* Full-height: remove this if you want "auto" height */
    margin-left: 5%;
    margin-right: 5%;
    width: 90%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    background-color: rgb(0,46,115);
    overflow-y: hidden; /* Disable y-scroll */
    font-family: Helvetica;
    border: 5px solid lightgray;
}

/* The navigation menu links */
.topnav a {
    font-size: 125%;
    color: lightgray;
    margin-left: 2.5em;
    margin-right: 1em;
    margin-top: 10px;
    line-height: 30px;
}

/* When you mouse over the navigation links, change their color */
.topnav a:hover {
    color: rgb(0,46,115);
    background-color: #ddd;
    transition: .5s background-color;
}

@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    display: inline-block;
  }
}

.headimage {
  padding-top: 75px;
  padding-bottom: 1em;
  text-align: center;
}

/* Style page content */
.main {
    margin-left: 10%;
    font-family: Helvetica;
    padding-top: 0.25em;
    width: 80%;
    height: 100%;
    text-align: center;
    background-color: rgb(200,200,200);
    border: 2.5px solid black;
}
/* screenshot "column" */
.screenshotgallery {
  float: left;
  width: 80%;
  align-items: center;
  margin-left: 10%;
  padding: 15px;
  background-color: lightgray;
  border: 2.5px solid black;
}

/* screenshot row */
.screenshotrow::after {
  content: "";
  clear: both;
  display: table;
}


body {
  background-color: #f1f1f1;
      font-family: Verdana;
}
